.title{
    color: #1792d2;
    font-size: 3.375rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navv{
    font-size: 1rem;
    display:grid
    
}